body{
  margin : 0;
}

.AddTodoButton{
  color : white;
  background-color : blue;
  width : 120px;
}

.todoInput{
  margin : 10px;
  width : 200px;
  height: 25px;
}

.todo-container{
   display: flex;
   flex-direction: column;
   align-items: center;
   border: 1px solid black;
}
.parent-container{
   display: flex;
   align-items: center;
   justify-content: center;
    min-height: 100vh; 
   
}